.home-container {
    width: 80%;
    max-width: 40rem;
    margin: 10rem auto;
    padding: 0.5rem;
}

.home-container h2{
    text-align: center;
}

.logout  {
    font: inherit;
    background: cornflowerblue;
    border: 1px solid cornflowerblue;
    padding: 0.5rem 1.5rem;
    color: white;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
    border-radius: 20px;
}